*{
box-sizing:border-box;
margin:0;
padding:0;
}

body{
font-family:Arial;
background:black;
color:white;
}

/* NAVBAR */

.navbar{
height:60px;
display:flex;
align-items:center;
justify-content:space-between;
padding:0 60px;
background:black;
border-bottom:1px solid #222;
position:sticky;
top:0;
z-index:1000;
}

.logo{
font-size:20px;
font-weight:600;
letter-spacing:2px;
cursor:pointer;
transition:.3s;
}

.logo:hover{
color:#ff4d4d;
}

.nav-links{
display:flex;
gap:35px;
list-style:none;
}

.nav-links a{
text-decoration:none;
color:white;
font-size:14px;
position:relative;
}

.nav-links a::after{
content:"";
position:absolute;
left:0;
bottom:-6px;
width:0;
height:2px;
background:#ff4d4d;
transition:.3s;
}

.nav-links a:hover::after{
width:100%;
}

.nav-icons{
display:flex;
gap:22px;
font-size:18px;
}

.nav-icons i{
cursor:pointer;
transition:.3s;
}

.nav-icons i:hover{
color:#ff4d4d;
transform:scale(1.15);
}

/* HERO */

.hero{
display:flex;
height:calc(100vh - 60px);
overflow:hidden;
position:relative;
}

/* PANELS */

.panel{
flex:1;
min-width:80px;
cursor:pointer;
overflow:hidden;
position:relative;
transition:flex 0.8s cubic-bezier(.77,0,.18,1);
}

/* PANEL EXPAND */

.panel.expand{
flex:5;
}

/* PANEL GRID */

.panel-inner{
display:grid;
grid-template-columns:40% 20% 40%;
width:100%;
height:100%;
align-items:center;
}

/* TEXT */

.text-side{
padding:60px;
display:flex;
flex-direction:column;
justify-content:center;
opacity:0;
transform:translateY(20px);
transition:all .5s ease;
}

.panel.expand .text-side{
opacity:1;
transform:translateY(0);
}

.text-side h2{
font-size:42px;
margin-bottom:15px;
}

.price{
font-size:24px;
color:#00ff88;
margin-bottom:20px;
}

.desc{
opacity:0.8;
line-height:1.6;
max-width:240px;
}

/* GUITAR */

.guitar-side{
display:flex;
align-items:center;
justify-content:center;
height:100%;
}
.guitar{
height:70%;
max-height:520px;
object-fit:contain;
transition:transform .6s ease;
}

.panel.expand .guitar{
transform:scale(1.15) translateY(-30px);
}

/* ARTIST */

.artist-side{
height:100%;
}

.artist{
width:100%;
height:100%;
object-fit:cover;
object-position:center;
opacity:0;
transition:all .5s ease;
}

.panel.expand .artist{
opacity:1;
transform:translateY(0);
}

/* VERTICAL LABEL */

.label{
position:absolute;
left:20px;
bottom:20px;
writing-mode:vertical-rl;
transform:rotate(180deg);
font-size:14px;
letter-spacing:3px;
opacity:.7;
transition:.4s;
}

.label span{
font-size:20px;
font-weight:bold;
margin-bottom:10px;
}

.panel.expand .label{
opacity:0;
}

/* PANEL COLORS */

.panel:nth-child(1){background:#ff2a2a;}
.panel:nth-child(2){background:#8b3dff;}
.panel:nth-child(3){background:#2563eb;}
.panel:nth-child(4){background:#16a34a;}
.panel:nth-child(5){background:#f59e0b;}